[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
notebook = "*"
pandas = "*"
numpy = "*"
pathlib = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
openpyxl = "*"
bs4 = "*"
lxml = "*"
xlrd = "*"
dvc = "*"
dagshub = "*"

[requires]
python_version = "3.11"

[dev-packages]
autopep8 = "*"
